html {
    height: 100%;
}

body {
  align-items: center;
  background-color: #DC3545;
  color: #FFFFFF;
  display: flex;
  font-family: Roboto, "Helvetica Neue", Arial, sans-serif;
  height: 100%;
  justify-content: center;
}
